<!-- Profile page content -->
<!-- <div class="container-fluid mt-3">

    <div class="container bg-secondary">
        
        <form #signUpForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www" class="my-5" ngNativeValidate>

            <div class="border" style="width: 200px; height: 200px; overflow: hidden;">
                <img src="{{imageAddress}}" width="200" />
            </div>

            <div>
                <label class="btn btn-default">
                    <input type="file" (change)="selectFile($event)">
                </label>
                <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
            </div>

            <input [(ngModel)]="fname" name="fname" type="text" class="form-control w-75 mx-auto my-4" placeholder="First Name"
                required="true" title="Enter your first name" />

            <input [(ngModel)]="lname" name="lname" type="text" class="form-control w-75 mx-auto my-4" placeholder="Last Name"
                required="true" title="Enter your last name" />

            <input [(ngModel)]="address" name="address" type="text" class="form-control w-75 mx-auto my-4" placeholder="Address"
                required="true" title="Enter your address" />

            <input [(ngModel)]="email" name="email" type="text" class="form-control w-75 mx-auto my-4" placeholder="Email"
                required="true" title="Enter your email address" />

            <input [(ngModel)]="phone" name="phone" type="text" class="form-control w-75 mx-auto my-4" placeholder="Contact Number"
                required="true" title="Enter your contact number" />

            <input [(ngModel)]="description" name="description" type="text" class="form-control w-75 mx-auto my-4"
                placeholder="Description" required="true" title="Enter about you" />

            <div class="w-75 mx-auto my-4">
                <button type="submit" class="btn btn-primary w-25">Sign Up</button>
                <button type="reset" class="btn btn-primary w-25">Clear</button>
            </div>
        </form>
    </div>

</div> -->

<div class="container my-5">
    <div class="card">
        <div class="row card-header">
            <h3 class="mb-1">Registrations Form</h3>
            <p>Please enter your user information.</p>
        </div>
        <form class="row">
            <div class="col-6">
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="nick" required="" placeholder="Username"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="E-mail"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="pass1" type="password" required="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" required="" placeholder="Confirm">
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">By
                                creating
                                an account, you agree the <a href="#">terms and conditions</a></span>
                        </label>
                    </div>
                    <div class="form-group row pt-0">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <button class="btn btn-block btn-social btn-facebook " type="button">Facebook</button>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <button class="btn  btn-block btn-social btn-twitter" type="button">Twitter</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <p>Already member? <a href="#" class="text-secondary">Login Here.</a></p>
                </div>

            </div>
            <div class="col-6 pl-0">

                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="nick" required="" placeholder="Username"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="E-mail"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="pass1" type="password" required="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" required="" placeholder="Confirm">
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">By
                                creating
                                an account, you agree the <a href="#">terms and conditions</a></span>
                        </label>
                    </div>
                    <div class="form-group row pt-0">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <button class="btn btn-block btn-social btn-facebook " type="button">Facebook</button>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <button class="btn  btn-block btn-social btn-twitter" type="button">Twitter</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <p>Already member? <a href="#" class="text-secondary">Login Here.</a></p>
                </div>

            </div>
        </form>
    </div>
</div>