<div class="notification-title"> Notification</div>
<div class="notification-list">
  <div class="list-group">
    <a  href="#" class="list-group-item list-group-item-action">
      <div class="notification-info">
        <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
        <div class="notification-list-user-block"><span class="notification-list-user-name"><b>Welcome Janaka</b></span>
          This will be the best place to improve your skills and make a path for your future. Best Of Luck !
          <div class="notification-date">5 days ago</div>
        </div>
      </div>
    </a>
    <a *ngFor="let item of nortification_list" class="list-group-item list-group-item-action">
      <div class="notification-info">
        <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
        <div class="notification-list-user-block"><span class="notification-list-user-name">{{item.nortificationtitle}}</span>
          {{item.nortificationbody}}
          <div class="notification-date">5 days ago</div>
        </div>
      </div>
    </a>
    <!-- <a *ngIf="!isJanaka()" href="#" class="list-group-item list-group-item-action">
      <div class="notification-info">
        <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
        <div class="notification-list-user-block"><span class="notification-list-user-name">Project Succeed </span>Dimento
          project has successfully done
          by super six team.
          <div class="notification-date">2 days ago</div>
        </div>
      </div>
    </a> -->


  </div>
</div>
