.p-image {
    border: 2px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.brd {
    border: 1px solid black;
}

.cover {
    background-image: url(../../../assets/img/pro-desc.jpg);
} 

.page{
    border: 2px solid gray;
    background-color: darkgray;
    border-radius: 10px;
}