<!-- Profile decription -->
<div class="card">
  <div class="card-body">
    <div class="user-avatar text-center d-block">
      <img src="{{imageAddress}}" alt="User Avatar" class="rounded-circle user-avatar-xxl">
    </div>
    <div class="text-center">
      <h2 class="font-24 mb-0">{{fname}} {{lname}}</h2>
      <p>{{description}}</p>
    </div>
  </div>
  <div class="card-body border-top">
    <h3 class="font-16">Contact Information</h3>
    <div class="">
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>{{email}}</li>
        <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i>{{phone}}</li>
      </ul>
    </div>
  </div>
  <div class="card-body border-top">
    <h3 class="font-16">Rating</h3>
    <h1 class="mb-0">{{rating}}</h1>
    <div class="rating-star">
      <i *ngFor="let star of stars" class="fa fa-fw fa-star"></i>
    </div>
  </div>
  <div *ngIf="isSachintha()" class="card-body border-top">
    <h3 class="font-16">Social Channels</h3>
    <div class="">
      <ul class="mb-0 list-unstyled">
        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-github-square mr-1 github-color"></i>github.com/RavinduSachintha</a></li>
        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-twitter-square mr-1 twitter-color"></i>twitter.com/RavinduSachintha</a></li>
      </ul>
    </div>
  </div>
</div>