<!-- Add the app header section -->
<app-header></app-header>

<!-- Home page content -->
<div class="container-fluid mt-3 border">
    <div class="row">
        <div class="col-md-3 border">
            <div class="mb-4">
                <app-pro-desc></app-pro-desc>
            </div>
            <div>
                <app-ranking></app-ranking>
            </div>
            
        </div>
        <div class="col-md-6 border">
            hgf
        </div>
        <div class="col-md-3 border">
            <app-notification></app-notification>
        </div>
    </div>
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>