<!-- Add the app header section -->
<app-header></app-header>

<!-- Home page content -->
<div class="container-fluid mt-3">
    
    <p>Home Page content here...</p>
    <!-- <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <app-profile-desc class="container"></app-profile-desc>
            </div>
            <div class="row">
                <app-ranking-desc class="container"></app-ranking-desc>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="row">
                <app-home-desc class="container"></app-home-desc>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <app-notification-desc class="container"></app-notification-desc>
            </div>
        </div>
    </div> -->
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>