#home-section {
    padding: 50px 0;
}

.rounded-border {
    border-radius: 1%;
}

/* -- responsive --*/

@media (max-width: 767px) {
    #home-section .space-mobile-screen {
        padding: 40px;
    }
}

/* carousel attributes */
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }
