<!-- Add the app header section -->
<app-header></app-header>

<!-- Page Content -->
<div class="container my-5 page-box">

  <!-- Introduction Row -->
  <h1 class="my-4">About Us
    <small>It's Nice to Meet You!</small>
  </h1>
  <p>We provide a common platform for both the developers from the software industry to as well as the  students of UCSC to collaborate together though the internet and to collaborate on different projects together.
  </p>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Ravindu Sachintha
        <small>Job Title</small>
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Mario Perera
        <small>Job Title</small>
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Sachini Chathurangi
        <small>Job Title</small>
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Kushan abewickrama
        <small>Job Title</small>
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
  </div>

</div>
<!-- /.container -->

<!-- Add the app footer section -->
<app-footer></app-footer>