<!-- Add the app header section -->
<app-header></app-header>

<!-- Page Content -->
<div class="container my-5 page-box px-0 card">

  <!-- Introduction Row -->
  <div class="title mx-0 card-body">
    <div class="row mx-4">

      <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>

    </div>
  </div>
  <div class="mx-4 my-2 desc card-body">
    <p>We provide a common platform for both the developers from the software industry to as well as the students of
      UCSC
      to collaborate together though the internet and to collaborate on different projects together.
    </p>
    <p>Students who are interested in different aspects of the software engineering processes will be able to meet and
      get in contact with the same professionals from those fields and to get there knowledge and the expertise.
    </p>
  </div>


  <!-- Team Members Row -->
  <div class="row ">
    <div class="col-md-4 mx-auto">
      <h2 class="my-4">Our Team</h2>
      <h3><small>Ravindu Sachintha</small></h3>
      <h3><small>Mario Perera</small></h3>
      <h3><small>Sachini Chathurangi</small></h3>
      <h3><small>Kushan abewickrama</small></h3>
    </div>

    <div class="col-md-6 mx-auto">
      <img class="mx-auto my-4 p-image" src="../../../assets/img/project_logo.png">
    </div>

  </div>

</div>
<!-- /.container -->

<!-- Add the app footer section -->
<app-footer></app-footer>