<div class="container mt-5 pt-5">
  <div class="col-lg-5 mx-auto page">

    <div class="row mb-2 py-3 title">
      <p class="h1 w-100 text-center text-light">
        Login
      </p>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www" ngNativeValidate>
      
      <div class="row">
        <input [(ngModel)]="username"  
            id="inputUsernameLogin" 
            name="inputUsernameLogin" 
            type="text" 
            class="form-control w-75 mx-auto my-4"  
            placeholder="User Name" 
            required="true"
            title="Enter your user name"/>
      </div>
  
      <div class="row">
        <input [(ngModel)]="password"  
            id="inputPasswordLogin" 
            name="inputPasswordLogin" 
            class="form-control w-75 mx-auto mb-4" 
            type="password"  
            placeholder="Password" 
            required="true"/>
      </div>
  
      <div class="row">
        <button type="submit" class="btn btn-success w-75 mx-auto mb-4"> LOGIN </button>
      </div>

    </form>

    <div class="row">
      <p class="w-100 mb-4 text-center">
        Forgot the <a href="#">password</a> or a <a routerLink="/sign-up">new user</a> ?
      </p>
    </div>

  </div>
</div>  