<!-- Add the app header section -->
<app-header></app-header>

<!-- Feature page content -->
<div class="container bg-white">
  <!-- ============================================================== -->
  <!-- campaign tab one -->
  <!-- ============================================================== -->
  <div class="influence-profile-content pills-regular">
    <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab"
          aria-controls="pills-campaign" aria-selected="true">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-packages-tab" data-toggle="pill" href="#pills-packages" role="tab" aria-controls="pills-packages"
          aria-selected="false">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review"
          aria-selected="false">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-msg-tab" data-toggle="pill" href="#pills-msg" role="tab" aria-controls="pills-msg"
          aria-selected="false">Mentor</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
        
        
        <div class="card">
          
          <div class="border-top card-footer p-0">
            <div class="campaign-metrics d-xl-inline-block">
              <h4 class="mb-0">45k</h4>
              <p>Total Reach</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
              <h4 class="mb-0">29k</h4>
              <p>Total Views</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
              <h4 class="mb-0">5k</h4>
              <p>Total Click</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
              <h4 class="mb-0">4k</h4>
              <p>Engagement</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
              <h4 class="mb-0">2k</h4>
              <p>Conversion</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="media influencer-profile-data d-flex align-items-center p-2">
                  
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="tab-pane fade" id="pills-packages" role="tabpanel" aria-labelledby="pills-packages-tab">
        
      </div>
      <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
        
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link " href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade" id="pills-msg" role="tabpanel" aria-labelledby="pills-msg-tab">
        
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end campaign tab one -->
  <!-- ============================================================== -->
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>