<!-- Add the app header section -->
<app-header></app-header>

<!-- Feature page content -->
<div class="container bg-white">
  <!-- ============================================================== -->
  <!-- campaign tab one -->
  <!-- ============================================================== -->
  <div class="influence-profile-content pills-regular">
    <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab"
          aria-controls="pills-campaign" aria-selected="true">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-packages-tab" data-toggle="pill" href="#pills-packages" role="tab" aria-controls="pills-packages"
          aria-selected="false">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review"
          aria-selected="false">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-msg-tab" data-toggle="pill" href="#pills-msg" role="tab" aria-controls="pills-msg"
          aria-selected="false">Mentor</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active pb-3" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">

        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:Android Task Monitoring.</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This type projects are not yet in use.So this will be usefull project idea</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:Online Mobile Recharge Portal Project.</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This is a high valubale project idea.Through this people can mobile recharge </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:E Banking Phishing Websites</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Detecting E Banking Phishing Websites Using Associative Classification</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:Fingerprint Based ATM System.</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Yet there is no way to use ATM machine if user not remember pin number.Through this users can use their fingerprint  01</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:Sentiment Analysis for Product Rating</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This is a high valubale project idea.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Project:Vehicle Tracking Using Driver Mobile Gps Tracking</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This is a Vehicle Tracking Using Driver Mobile Gps Tracking.</p>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="pills-packages" role="tabpanel" aria-labelledby="pills-packages-tab">
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Ravindu Sachintha </h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Student</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Student from UCSC.2nd year Undergraduate </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Student:Nipuni Theekshana</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">3rd year Undergraduate at UCSC</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Student:Mario Jayan</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Sotware engineering student at UCSC</p>
          </div>
        </div>
        <div class="card">
          
         
        </div>
        
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Fingerprint Based ATM System</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Yet there is no way to use ATM machine if user not remember pin number.Through this users can use their fingerprint  01.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">ABC pvt ltd</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Sentiment Analysis for Product Rating.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">tech solutions lanka</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">The conception of entrance control is brought about by mean of a card, a parallel card reader and a control board is amalgamated with the server. </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">digital creations PVT Ltd</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">begins to follow the SUN exactly from sunrise, all through the day, till sunset, and begins the work all over again from sunrise next day.
              content.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-msg" role="tabpanel" aria-labelledby="pills-msg-tab">
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">H.A.S. Abeyasinghe</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">The corresponding port of the personal computer is a controlling podium for executing projects transacting with the control of real world peripherals. It can be utilized to control domestic and other electric appliances. The computer program in the course of the interface circuit manages the relays,</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">K.A.Abeyawikrama</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">This small device make use of a tiny three volt solar cell to charge a six volt NiCad battery set which, in return, possibly is employed to charge lots of models of mobile phones and other handy gadgets. .</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header d-flex">
            <h4 class="card-header-title">Mentortest</h4>
            <div class="toolbar ml-auto">
              <a href="#" class="btn btn-primary btn-sm ">View Project</a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">begins to follow the SUN exactly from sunrise, all through the day, till sunset, and begins the work all over again from sunrise next day. On hazy weather day.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end campaign tab one -->
  <!-- ============================================================== -->
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>