.title{
    background-color: rgb(40, 40, 207);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
  }
  
  .page{
      border: 2px solid gray;
      background-color: darkgray;
      border-radius: 10px;
  }

  .image {
      width: 750px;
      height: auto;
  }

  .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

  /* .btn-group .button{
      display:block;
      background-color: lightgoldenrodyellow;
      border:1px;
      color: darkslategray;
      padding: 10px 24px;
      cursor: pointer;
      width: 50%;
      
  }
  .btn-group .button:not(:last-child){
      border-bottom: none;
  }
  .btn-group .button:hover{
      background-color: cadetblue;
  } */