<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
  <div class="product-details">

    <div class="border-bottom pb-3 mb-3">
      <h2 class="mb-3">Current Working Project</h2>
    </div>

    <div class="product-colors border-bottom">
      <h4>Project Description</h4>
      <p>Simple CRUD sites - Create, Read,Update,Delete (read includes list).
        Possible 'objects' could be Dog Breeds, any type of pet, plants, flowers etc.
        Level of detail is up to you. Locations like Museums, National Parks. Events like
        music festivals is another possibility. Data Model sample for Events</p>
    </div>

    <div class="product-size border-bottom">
      <div class="row">
        <button type="button" class="col-lg-6 col-md-6 col-sm-12 btn btn-info" data-toggle="modal" data-target="#myModal2">Project
          Idea</button>
        <p class="col-lg-6 col-md-6 col-sm-12 mt-2 text-center"> <b>Idea Owner : Sachini Chathurangi</b></p>
      </div>
    </div>

    <div class="product-colors border-bottom">
      <h4>Project Team</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
          <h5><u>Mentors</u></h5>
          <li>Asitha Indrajith</li>
          <li>Sachini Chathurangi</li>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
          <h5><u>Students</u></h5>
          <li>Ravindu Sachintha</li>
          <li>Supun Dilshan</li>
          <li>Janaka Perera</li>
          <li>Sachintha Rathnayake</li>
        </div>
      </div>
    </div>

    <div class="product-colors border-bottom">
      <h4>Time Schedule</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p><b>Starting Date :</b> 01-01-2018 </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p><b>Ending Date :</b> 01-07-2018 </p>
        </div>
      </div>
    </div>

    <div class="product-colors border-bottom">
      <div class="row">
        <div class="col-6">
          <h4>Project Links</h4>
          <li><a href="https://github.com/team-echo-2018/Backend" target=”_blank”>GitHub Project Repository</a></li>
          <li><a href="https://github.com/team-echo-2018/Backend/issues" target=”_blank”>GitHub Project Issue List</a></li>
        </div>
        <div class="col-6 pt-4">
          <button class="btn btn-block btn-secondary" data-toggle="modal" data-target="#myModal">Task Schedule</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Task Scheduler</h4>
      </div>
      <div class="modal-body ml-2">
        <img src="../../../assets/img/tscheduler.PNG" class="image mx-auto">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Idea</h4>
      </div>
      <div class="modal-body ml-2">
        <p><b>By Sachini Chathurangi</b></p>
        <p>Simple CRUD sites - Create, Read,Update,Delete (read includes list).
          Possible 'objects' could be Dog Breeds, any type of pet, plants, flowers etc.
          Level of detail is up to you. Locations like Museums, National Parks. Events like
          music festivals is another possibility. Data Model sample for Events</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>