<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
  <div class="product-details">

    <div class="border-bottom pb-3 mb-3">
      <h2 class="mb-3">Current Working Project</h2>
    </div>

    <div class="product-colors border-bottom">
      <h4>Project Description</h4>
      <p>Praesent et cursus quam. Etiam vulputate est et metus pellentesque iaculis. Suspendisse nec urna augue.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div>

    <div class="row product-size border-bottom">
      <button type="button" class="col-lg-6 col-md-6 col-sm-12 btn btn-primary">Project Idea</button>
      <p class="col-lg-6 col-md-6 col-sm-12">Idea Owner : Student 01</p>
    </div>

    <div class="product-colors border-bottom">
      <h4>Team</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h6>Mentors</h6>
          <li>mentor 1</li>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h6>Students</h6>
          <li>student 1</li>
        </div>
      </div>
    </div>

    <div class="product-colors border-bottom">
      <h4>Time Schedule</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>Starting Date</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>Ending Date</p>
        </div>
      </div>
    </div>

    <div class="product-colors border-bottom">
      <h4>Project Links</h4>
      <li><a href="">GitHub Project Repository</a></li>
      <li><a href="">GitHub Project Issue List</a></li>
    </div>
  </div>
</div>