.jumbotron {
    background: rgba(24, 57, 82, 0.836);
    color: #FFF;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; 
}

.jumbotron small {
    color: #FFF;
}
    
.h1 small {
    font-size: 24px;
}

