<!-- Add the app header section -->
<app-header></app-header>

<!-- Profile page content -->
<!-- <div class="container-fluid mt-3">

  <div class="container page-box mb-5">

    <div class="row p-4 cover">
      <div class="border" style="width: 200px; height: 200px; overflow: hidden;">
        <img src="{{imageAddress}}" width="200" />
      </div>

      <div *ngIf="!editable">
        <span class="align-bottom">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="row border">skills</div>
      </div>
      <div class="col-8">

        <div class="row">
          <form #loginForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www" class="w-100 border">
            <div class="row mx-auto w-75">
              <div class="col-6 mt-4 pl-0">
                <input [(ngModel)]="fname" name="fname" type="text" class="form-control ml-0" [disabled]="editable" />
              </div>
              <div class="col-6 mt-4 pr-0">
                <input [(ngModel)]="lname" name="lname" type="text" class="form-control mr-0" [disabled]="editable" />
              </div>
            </div>

            <input [(ngModel)]="address" name="address" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable" />
            <input [(ngModel)]="email" name="email" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable" />
            <input [(ngModel)]="phone" name="phone" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable" />
            <input [(ngModel)]="description" name="description" type="text" class="form-control w-75 mx-auto my-4"
              [disabled]="editable" />
            <div class="w-75 mx-auto my-4">
              <button type="submit" class="btn btn-primary w-25">{{btnCaption}}</button>
            </div>
          </form>
        </div>
        <div class="row border">reviews</div>
      </div>
    </div>
  </div>

</div> -->

<div class="container my-3">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card influencer-profile-data">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">

              <div class="text-center">
                <img src="{{imageAddress}}" alt="User Avatar" class="rounded-circle user-avatar-xxl">
              </div>

              <div *ngIf="!editable">
                <span class="align-bottom">
                  <label class="btn btn-default">
                    <input type="file" id="selectedFile" (change)="selectFile($event)">
                  </label>
                  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
                </span>
              </div>

            </div>

            <form #loginForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www">
              <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="user-avatar-info">
                  <div class="m-b-20 border-bottom pb-3">
                    <div class="user-avatar-name border-bottom mb-2">
                      <input [(ngModel)]="fname" name="fname" type="text" placeholder="First Name" class="form-control mb-1 text-large"
                        [disabled]="editable" />
                      <input [(ngModel)]="lname" name="lname" type="text" placeholder="Last Name" class="form-control mb-1 text-large"
                        [disabled]="editable" />
                    </div>
                    <div *ngIf="!isJanaka()" class="rating-star  d-inline-block">
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                      <p class="d-inline-block text-dark"> 03 Reviews </p>
                    </div>
                  </div>

                  <div class="user-avatar-address">
                    <h5>Contact Details</h5>
                    <p class="border-bottom pb-3">
                      <input [(ngModel)]="address" name="address" placeholder="Address" type="text" class="form-control mb-1"
                        [disabled]="editable" />
                      <input [(ngModel)]="email" name="email" placeholder="Email" type="text" class="form-control mb-1"
                        [disabled]="editable" />
                      <input [(ngModel)]="phone" name="phone" placeholder="Phone Number" type="text" class="form-control"
                        [disabled]="editable" />
                    </p>
                    <div class="mt-3">
                      <h5>Status</h5>
                      <input [(ngModel)]="description" name="description" placeholder="Status" type="text" class="form-control"
                        [disabled]="editable" />
                    </div>

                    <div class="mt-3">
                      <button type="submit" class="btn btn-primary w-25">{{btnCaption}}</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isJanaka()" class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <button class="btn btn-primary btn-block">Add Skills Details</button>
          <button class="btn btn-primary btn-block">Add Educational Details</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isJanaka()" class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-header h2">
          Reviews & Recommendations
        </div>
        <div class="card-body">
          <div class="review-block">
            <p class="review-text font-italic m-0">“i would like to recommend ravindu sachintha .he has great skills in javascripts programming estibulum cursus felis vel arcu convallis, viverra commodo felis
                bibendum. Orci varius natoque penatibus et magnis dis parturient”</p>
            <div class="rating-star mb-4">
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
            </div>
            <span class="text-dark font-weight-bold">Sachini chathurangi</span><small class="text-mute"> (Company
              1)</small>
          </div>
          <div class="review-block border-top mt-3 pt-3">
            <p class="review-text font-italic m-0">“i would like to recommend ravindu sachintha .he has great skills in javascripts programming estibulum cursus felis vel arcu convallis, viverra commodo felis
                bibendum. Orci varius natoque penatibus et magnis dis parturient"</p>
            <div class="rating-star mb-4">
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
            </div>
            <span class="text-dark font-weight-bold">Mentor test</span><small class="text-mute"> (Company test)</small>
          </div>
          <div class="review-block  border-top mt-3 pt-3">
            <p class="review-text font-italic m-0">“ i would like to recommend ravindu sachintha .he has great skills in javascripts programming estibulum cursus felis vel arcu convallis, viverra commodo felis
                bibendum. Orci varius natoque penatibus et magnis dis parturient”</p>
            <div class="rating-star mb-4">
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
              <i class="fa fa-fw fa-star"></i>
            </div>
            <span class="text-dark font-weight-bold">Sachini chathurangi</span><small class="text-mute"> (Company
              1)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>