<!-- Add the app header section -->
<app-header></app-header>

<!-- Profile page content -->
<div class="container-fluid mt-3">
  <form #loginForm="ngForm" (ngSubmit)="submitForm()" method="POST" action="www" class="my-5">
    
    <div class="border" style="width: 200px; height: 200px; overflow: hidden;">
      <img src="{{imageAddress}}" width="200" />
    </div>

    <div *ngIf="!editable">
    <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)">
    </label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
    </div>

    <input [(ngModel)]="fname" name="fname" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <input [(ngModel)]="lname" name="lname" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <input [(ngModel)]="address" name="address" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <input [(ngModel)]="email" name="email" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <input [(ngModel)]="phone" name="phone" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <input [(ngModel)]="description" name="description" type="text" class="form-control w-75 mx-auto my-4" [disabled]="editable"/>
    <div class="w-75 mx-auto my-4">
      <button type="submit" class="btn btn-primary w-25">{{btnCaption}}</button>
    </div>
  </form>
  
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>